@use "./common/common" as *;
@use "./pages/home" as *;
@use "./pages/service-details" as *;
@use "./pages/project-details" as *;
@use "./pages/blog" as *;
@use "./pages/blog-details" as *;
@use "./pages/contact" as *;
